/* Landing styles css ver 0.4 */

.person-block img {
    width: auto;
}

@media screen and (max-width: 800px) { section .flexishard {display: block !important;} }

body > div.content-wrapper {
    padding-bottom: 0 !important;
}

body > div.content-wrapper > div.content .main-content {
    max-width: 100% !important;
}

body > div.footer  {
    margin-top: 0 !important;
}

section p {
    line-height: 2rem !important;
    /* margin-top: 0 !important; */
    /* text-indent: 2rem; */
    font-size: 16px;
}

/*.breadcrumbs {
    display: none;
}*/

.wrapper > h1:first-of-type {
    display: none;
}

h1:after {
    display: none;
}

/* body > div.content-wrapper > div.content.content-wide > .wrapper {
    width: auto !important;
} */

section div > ul, li {
    content: none;
}

/*html {
    scroll-behavior: smooth;
}*/

body {
    overflow-x: hidden;
}

section {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    /* font-weight: 400;
    line-height: 1.5; */
    color: #000000;
    align-content: center;
    text-align: center;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;;
    min-width: 320px;
    box-sizing: border-box;
    /* overflow: hidden; */
}

section ul, li {
    list-style: none;
    outline: none;
}

section h1, h2, h3, h4 {
    text-transform: uppercase;
}

section h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 34px;
    margin:0.75rem;
}

section a h1 { }
section a h1:hover { color: #2a91d8;}

section h2 {
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
    margin: 0.75rem;
}

section h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    margin: 0.75rem auto;
}

section h4 {
    font-size: 20px;
    font-weight: 500;
    line-height: 22px;
    /* margin: 1rem; */
}

section p {
    text-align: inherit;
}

section a.button {
        text-transform: uppercase;
        display: inline-block;
        padding:0.35em 1.2em;
        border:0.1em solid #fc8e40 !important;
        margin:auto;
        border-radius:0.12em;
        box-sizing: border-box;
        text-decoration:none;
        font-weight:600;
        font-size:1.5rem;
        color:#FFFFFF;
        text-align:center;
        transition: all 0.2s;
        width: 30%;
    }

    section a.button:hover{
    color:#FFF !important;
    background-color:#fc8e40;
    }

    .mobile-button {width:45%;} @media screen and (max-width: 1200px) { .mobile-button {width:90%;}}


section .uppercase {
    text-transform: uppercase;
    font-weight: 600;
}

section .visual-block {
    text-transform: uppercase !important;
    font-weight: 600 !important;
    color: #2a91d8 !important;
}

section .visual-block-2 {
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    width: 100%;
}

section .clearfix::after {
    content: "";
    display: table;
    clear: both;
}

section .notice {
    text-align: justify;
    padding: 0.4rem;
    font-size: 1rem !important;
}

section .wrap {
    display: inline-block;
    width:100%;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.heading {
    display: block;
    position: relative;
    text-align: center;
    margin: 0;
    max-width: 100%;
    height: auto;
    padding: 1rem 0 1rem 0;
    color: #fff;
    background-color: #4f4f51;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    font-size: 1.7rem;
}

.heading div > ul, li ::before {
    content: none;
}

section .heading span{
    padding:0;
    font-size: 1em;
    line-height: 1.2;
}

section .img-fluid {
    max-width: 33%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

section .heading .text {
    padding: 0.75rem 3em 0.75rem 3em;
    text-align: center;
    font-size: 2rem;
}

section .heading .header {
    /* font-size: 3.5rem; */
}

section .heading .smaller-text {
    padding: 0.75rem 10rem 0.75rem 10rem;
    text-align: justify;
    font-size: calc(12px + 12*(100vw - 300px)/1300);
    line-height: 1.5em;
}

section .invert {
    color: #000;
    background-color: #fff;
    display: block !important;
}

section .transparent {
    background-color: transparent !important;
    color: #fff;
}

section .about {
    display: table;
    float: left;
    background-color: #fff;
    height: auto;
    float: left;
}

section .about-text {
    display: inline-block;
}

section .about-text p {
    padding: 0.4rem;
    text-indent: 1rem;
    text-align: justify !important;
}

section .about-info {
    float: left;
    display: table-cell;
    position: relative;
    width: 50%;
    height: 470px;
    background-color: #fff;
}

section .wrapper {
    display: inline-block;
}

section .functions
{
    /* padding: 0.5rem; */
    display: block;
    /* border: 2px solid #000; */
    /* outline: 3px solid #000; */
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

section .dynamic-block {
    display: table; 
    padding: 2rem 10rem 2rem 10rem;
}

section .dynamic-block ul {
    column-count: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

section .dynamic-block li {
    list-style: none;
    padding: 1rem 0 1rem 0;
    display: inline-block;
}

section .dynamic-block p {
    font-size: 20px;
    text-align: center;
    /* text-indent: 2rem; */
    padding: 0 1rem 0 1rem;
    display: table-cell;
}

section .dynamic-block-section
{
    display: table;
    vertical-align: middle;
    text-align: justify;
}


section .dynamic-block-image {
    background: url("../img/sgal.svg") no-repeat;
    width: 44px;
    height: 44px;
    background-size: contain;
    margin: 0 10px 0 0;
    position: relative;
    display: block;
    float: left;
}

section .slider
{
    display: inline-block;
    position: relative;
    width: 80%;
}


section .rounded-circle {
    border-radius: 50%!important;
}

section .row {
    justify-content: center;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 1.3rem;
}

section .col-sm {
    display: flex;
    padding: 0.5rem;
    background-color: #fc8e40;
    border-bottom: 1px solid rgba(86,61,124,.2);
    box-shadow: 0 8px 22px rgba(0,0,0,.2);
    margin: 0.5rem;
    flex: 1 1 27%;
}

section .no-border {
    border: 0 !important;
    box-shadow: none !important;
}

section .no-margin {
    margin: 0 !important;
}

section .no-padding {
    padding: 0 !important;
}

section .wide-block {
    min-width: 100%
}

section .partners-description {
    display: inline-block;
    width: 50%;
    text-align: justify;
    padding: 10px 0 10px 0;
}

section .partners-description h3 {
    text-align: center;
    margin: 0;
}

section .inverted {
    background-color: white !important;
}


section .black {
    background-color: white !important;
    color:black !important;
}

/* Slider */

@keyframes slidy {
0% { left: -50%; }
20% { left: -50%; }
25% { left: -150%; }
45% { left: -150%; }
50% { left: -250%; }
70% { left: -250%; }
75% { left: -350%; }
95% { left: -350%; }
100% { left: -350%; }
}
section figure { 
  margin: 0; background: #101010;
  font-weight: 100;
}
section div#captioned-gallery { 
  width: 100%; 
  overflow: hidden;
}
section figure.slider { 
  position: relative; width: 500%;
  font-size: 0; animation: 16s slidy infinite; 
}
section figure.slider figure { 
  width: 20%; height: auto;
  display: inline-block;  position: inherit; 
}
section figure.slider img { width: 100%; height: auto; }
section figure.slider figure figcaption { 
  position: absolute; top: 0;
  background: rgba(0,0,0,0.4);
  color: #fff; width: 100%;
  font-size: 2rem; padding: .6rem; 
}

section .timeline {
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
}

section .timeline .timeline-heading h4 {
    /* line-height: 1.3rem; */
    font-size: calc(18px + 6 * ((100vw - 320px) / 680));
    font-weight: 600;
}

section .timeline .subheading {
    margin: 0;
    padding: 0;
}

.visual-block-5 {
    font-size: 2rem;
    font-weight: 700;
    color: #fc8e40;
    margin: auto;
}

section .timeline>li {
    position: relative;
    min-height: 50px;
    margin-bottom: 1rem;
}

section .timeline>li:after,.timeline>li:before {
    display: table;
    content: ' '
}

section .timeline>li:after {
    clear: both
}

section .timeline>li .timeline-panel {
    position: relative;
    /* float: left; */
    padding: 0 1rem 1rem 5rem;
    text-align: left;
}

section .timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0
}

section .timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0
}

section .timeline>li .timeline-image {
    display: flex;
    position: absolute;
    z-index: 100;
    left: 0.5rem;
    width: 50px;
    height: 50px;
    margin-left: 0;
    text-align: center;
    color: #fff;
    border: 5px solid #4f4f51;
    border-radius: 100%;
    background-color: white;    
}

section .timeline:before {
    position: absolute;
    top: 0;
    bottom: -20px;
    width: 5px;
    left: 2.3rem;
    content: '';
    background-color: #e9ecef
}

section .timeline>li.timeline-inverted>.timeline-panel {
    /* float: left; */
    padding: 0 1rem 0rem 5rem;
    text-align: left
}

section .timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0
}

section .timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0
}

section .timeline>li:last-child {
    margin-bottom: 0
}

section .timeline .timeline-heading h4 {
    margin-top: 0;
    color: inherit
}

section .timeline .timeline-heading h4.subheading {
    text-transform: uppercase;
    text-align: center;
}

section .timeline .timeline-section>p,.timeline .timeline-section>ul {
    margin-bottom: 0
}

section .timeline .text-muted {
    text-align: justify;
    font-size: 1.2rem !important;
    /* text-indent: 2rem; */
}

@media screen and (min-width: 992px) {

    section .timeline:before {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 5px;
        margin-left: 0.2rem;
        content: '';    
        background-color: #e9ecef
    }

    section .timeline:before {
        left:50%
    }

    section .timeline>li {
        min-height: 100px;
        margin-bottom: 100px;
    }

    section .timeline>li .timeline-panel {
        float: left;
        width: 40%;
        text-align: right;
        padding: 0 1rem 1rem 3rem;
    }

    /* section .timeline>li .timeline-panel {
        /* float: left; 
        width: 40%;
        /* text-align: right; */
        /* padding: 0 1rem 1rem 3rem; 
        display: flex;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 50%;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        /* justify-content: center; */
        /* justify-items: center; */
        /* align-content: center; */
        /* align-self: center; 
        flex-flow: column;
        margin: auto 0;
    } */

    section .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px
    }

    section .timeline>li .timeline-image h4 {
        font-size: 13px;
        line-height: 18px;
        margin-top: 16px
    }

    section .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        text-align: left;
    }

    .visual-block-5 {
        font-size: 4rem;
    }
}

@media screen and (min-width: 1199px) {

    section .timeline:before {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 10px;
        margin-left: -0.3rem;
        content: '';
        background-color: #e9ecef
    }

    section .timeline>li {
        min-height:150px
    }

    section .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    section .timeline>li .timeline-image h4 {
        font-size: 18px;
        line-height: 26px;
        margin-top: 30px;
    }   

    /* section .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 1rem 1rem 2rem;
    } */
}

@media screen and (min-width: 1300px) {
    section .timeline:before {
        position: absolute;
        top: 0;
        bottom: -20px;
        width: 10px;
        margin-left: 0;
        content: '';
        background-image: linear-gradient(#e9ecef, white) 
    }

    section .timeline>li {
        min-height:170px
    }

    section .timeline>li .timeline-panel {
        /* padding: 0 1rem 1rem 1rem */
    }

    section .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    section .timeline>li .timeline-image h4 {
        margin-top: 40px
    }

    section .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 1rem 1rem 1rem
    }
}

section #partners .col-sm {
    display: inline-block;
    float: left;
    position: relative;
    width: 45%;
    margin: 10px 0 10px 0;
}

section #partners {
    /* overflow: hidden; */
}

section #tabs .heading ul { 
    outline: none;
    padding: 0 1rem 0 1rem;
    column-count: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

section #tabs .heading li { 
    text-transform: uppercase;
    outline: none;
    width: 100%;
}

section #tabs .heading a {
    outline: none;
    display: block;
    line-height: 3em;
}

section #contacts .col-sm {
    display: inline-block;
    flex: none;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    section #contacts .col-sm { 
        width: 100%; 
        padding: 0;
    }
}

section #contacts .col-sm > p {
    display: inline-block !important;
    flex:none;
}

section #contacts .col-sm > p > span {
    display: inline-block !important;
    flex:none;
    text-align: center !important;
}

section #contacts .col-sm img {
    max-width: 100% !important;
    min-width: 60%;
    height: auto !important;
    display: block !important;
    margin: auto !important;
    padding: 5px;
}

/* Media */

@media screen and (max-width:1024px) {

    section .wrap {
        width: 100%;
    }

    section  .row {
        display: block;
    }

    section  .col-sm {
        border: 0;
        padding: 0.4rem;
        margin: 0 0 0.4rem 0;
        max-width: 100%;
        display: flex;
        position: relative;
        /* height: 100%; */
    }

    section  #features .col-sm {
        display: block;
    }

    section  #partners .row {
        /* overflow: auto; */
        white-space: nowrap;
    }

    section #partners .col-sm {
        display: inline-block;
    }
    section .dynamic-block-image {
        min-width: 44px;
    }
}

@media screen and (max-width: 1200px) {

    section .wrap {
        width: 100%;
    }

    section {
        display: block;
        width: 100%;
        /* overflow-x: hidden; */
    }

    section  a.button {
        display:block;
        margin:0.4em auto;
        width:80%;
    }

    section .heading h1 {
        font-size: 2em;
        font-weight: 700;
        line-height: 1.2em;
        margin: 1rem;
    }
    
    section  .heading h2 {
        font-size: 20px;
        font-weight: 600;
        line-height: 24px;   
    }

    section .heading, .heading .header, .heading {
        display: block;
        width: 100%;
        font-size: 18px;
    }
    section .heading .text, .heading .smaller-text {
        padding: 1rem;
        font-size: calc(16px + 6 * ((100vw - 320px) / 680));
        /* line-height: 1.3em; */
        
    }

    section .dynamic-block {
        display: table; 
        padding: 1rem 1rem 1rem 1rem;
        width: 100%;
    }
    
    section .dynamic-block ul {
        /* padding: 0; */
        column-count: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    section .dynamic-block p {
        /* padding: 0; */
        text-align: left;
    }

    section #tabs .heading ul { 
        column-count: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    section #tabs .heading li { 
        width:100%;
    }

    section .about-text, .about-info {
        display: block;
        width: 100%;
    }   
    section .about-info {
        background-size: contain;
        background-repeat: no-repeat;
    }
    section .row {
        display: block;
    }

    section #partners  .row {
        /* overflow: auto; */
        white-space: nowrap;
        -webkit-scrollbar: auto;
    }

    section #partners .col-sm {
        display: inline-block;
    }

    section .text-muted {
        text-align: center;
    }
}

.mobile-button {width:45%;} @media screen and (max-width: 1200px) { .mobile-button {width:90%;}} 

section .ui-tabs-tab {
    border:0.1em solid #fc8e40;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight:500;
    text-align:center;
    transition: all 0.2s;
    font-size: 1.2rem;
  }

  section .ui-tabs-tab a {
    text-decoration: none;
    color:#FFFFFF !important;
  }

  section .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    color: #FFF !important;
    background: #fc8e40;
  }

  section .button-2 .ui-tabs-anchor a:hover {
    color: #FFF !important;
  }

::selection {
    color: #ffffff;
    background: #fc8e40;
}

section div.container {
    /* padding: 0.4rem; */
    display: block;
}

section .margin-auto {
    margin: auto;
}

section div.relative-image {
    display: block;
    position: relative;
    /* float: left; */
    padding: 2%;
}

section div.relative-image img {
    width: 100%;
}

section div.relative-about {
    display: block;
    padding: 0 1rem 1rem 1rem;
}

section div.relative-about p {
    text-align: justify;
    text-indent: 2rem;
    padding-top:1rem;
}

section div.relative-about p:first-of-type {
    padding-top: 0;
}

section .relative-slider
{
    display: block;
    margin: 0.4rem;
}

section .wrap-90 {
    display: inline-grid;
    width: 90%;
}

section .wrap-100 {
    /* display: inline-block !important; */
    flex: 100% !important;
}

section .flex-column {
    flex-wrap: wrap;
    flex-flow: column;
}

/*upper menu fix for small screen*/
@media screen and (max-width: 800px) { 
    section .col-sm span {
        display: block !important;
    }
    .menu-subheader li {
        display: table-header-group;
        border-left: 0;
    }
}

section .col-sm span {
    /* vertical-align: middle; */
    text-align: justify;
    /* margin: -5px 10px 0 10px; */
    align-items: center;
    display: flex;
    padding-right: 2%;
}


section .container-wrapper {
    display: flex;
}

.w-100 {
    min-width: 100%;
    width: 100%;
}

.w-90 {
    min-width: 90%;
    width: 90%;
}

.w-80 {
    min-width: 80%;
    width: 80%;
}

.w-70 {
    min-width: 70%;
    width: 70%;
}

.w-60 {
    min-width: 60%;
    width: 60%;
}

.w-50 {
    min-width: 50%;
    width: 50%;
}

.w-40 {
    min-width: 40%;
    width: 40%;
}

.w-30 {
    min-width: 30%;
    width: 30%;
}

.w-20 {
    min-width: 20%;
    width: 20%;
}

@media screen and (max-width: 1200px) { 
    .w-90, .w-80, .w-70, .w-60, .w-50, .w-40, .w-30, .w-20, .w-10 {width:auto;}
    section .container-wrapper {display:block;}
}

section .text-muted {
    text-align: center;
    font-style: italic;
    background: #eee;
}

section blockquote {
    font-style: italic;
    quotes: "“" "”" "‘" "’"
}

section .quote {
    margin: 0;
    background: #eee;
    padding: 1em;
    border-radius: 1em;
  }
  section .quote figcaption,
  section .quote blockquote {
    margin: 1em;
  }

.visual-block-3 {
    float: left;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 600;
    color: #2a91d8;
    margin: auto 0 auto 0;
    overflow: visible;
    /* height: 50%; */
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.visual-block-3 img {
    max-width: none !important;
    width: 44px;
    height: 44px;
}



.slick-slide img {
    display: block;
    max-width: 100%;
    height: auto;
}

.slick-slide {
    height: auto !important;
    padding: 1rem;
    margin: 1rem;
}

section .col-sm p {
    text-align: justify;
    position: relative;
    padding: inherit;
    margin: auto 0;
    /* display: flex; */
    align-items: center;
}

section .text-left {text-align: left !important;}
section .text-right {text-align: right !important;}
section .text-justify {text-align: justify !important;}
section .text-center {text-align: center !important;}

section .bold {
    font-weight: bold;
}

section .italic {
    font-style: italic;
}

section .flex-center {
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 500px) { 
    section p {font-size: 1rem;}
    section .heading h1 {font-size: 22px;}
    section .heading h4 {font-size: 17px;}
    /* section .col-sm p {min-width: -webkit-fill-available;} */
}

section .blackout {
    background-color: #4f4f51;
    color: white;
}

section .blackout-strong {
    background-color: #57595b;
    color: white;
}

section .top-text {
    /* position: absolute; */
    z-index: 1000;
}

#logo {
    width: fit-content;
    margin: auto;
    padding: 2%;
    margin-top: 34px;
}


section .flex-hack {
    /* display: block; */
    flex: 1 1 100% !important;
    flex-direction: row;
}

section .flex-wrap {
    flex-wrap: wrap;
    align-items: center;
}
section .flex-heading {
    order: -1;
    flex: 1 0 100%;    
}

.visual-block-4 {
    font-size: 2rem;
    font-weight: 700;
    color:#fc8e40;
}

section .heading h3,h4 {
    color:white;
}

@media (min-width: 801px) and (max-width: 1337px) {
    body > div.content-wrapper > div.content {
      display: block;
    }
    .content.columns .column-left {
      float: left;
      max-width: 100%;
    }
    .content.columns .column-left .main-content {
      position: initial;
    }
  }
  
  @media (max-width: 1337px) {
    .content.columns .column-left .main-content {
      padding: 0 !important;
    }
    .content.columns .column-right {
      display: block;
      width: 100%;
    }
  }

  
.slick-dots-konsom {
    position: absolute;
    bottom: -35px;
    display: block;
    width: 100%;
    padding: 0;
    list-style: none;
    text-align: center;
  }

  @media (max-width:1200px) {
    .slick-dots-konsom {margin-bottom: 25px;}
  }
  
  .slick-dots-konsom li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0 !important;
    cursor: pointer;
  }

  .slick-dots-konsom li::before {
    content: none !important;
  }
  
  .slick-dots-konsom li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
  }
  
  .slick-dots-konsom li button:hover,
  .slick-dots-konsom li button:focus {
    outline: none;
  }
  
  .slick-dots-konsom li button:hover:before,
  .slick-dots-konsom li button:focus:before {
    opacity: 1;
  }
  
  .slick-dots-konsom li button:before {
    font-family: 'slick';
    font-size: 34px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: .2;
    overflow: hidden;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-stroke: 1px #fc8e40;
    text-shadow: 1px 1px 0 #fc8e40, 
    -1px -1px 0 #fc8e40, 1px -1px 0 #fc8e40, -1px 1px 0 #fc8e40, 1px 1px 0 #fc8e40;
  }
  
  .slick-dots-konsom li.slick-active button:before {
    opacity: .75;
    color: #fc8e40;
  }
  

@media (max-width: 1200px) {
    section .slick-konsom-arrows {display: none}
}

section .prev {
    margin: auto;
    cursor: pointer;
    z-index: 1000;
    float: left;
    display: block;
    position: relative;
    left: 35%;
    margin-block-end: 20px;
}
.prev.slick-arrow::after {
    content: '<';
    font-size: 44px;
}

section .next {
    display: block;
    cursor: pointer;
    float: right;
    display: block;
    position: relative;
    right: 35%;
}

.next.slick-arrow::after {
    content: '>';
    font-size: 44px;
}

section li {
font-size:16px
}

section details summary::-webkit-details-marker {
    display: none !important;
}
section details > summary {
    list-style: none !important;
    outline: none;
}

section details summary:before {
    display: none !important;
}

section details[open] summary:before {
    display: none !important;
}

section details[open] summary ~ * {
    animation: sweep .8s ease-in-out;
  }
  
  @keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 0px}
  }

section details summary:after {
    content: '▼' !important;
    display: flex !important;
    color: #2a91d8 !important;
    margin: auto;
    font-size: 38px !important;
    outline: none;
    margin-right: 1rem;
}

section details[open] summary:after {
    /* content: '◄' !important; */
    display: flex !important;
    color: #2a91d8 !important;
    font-size: 38px !important;
    margin: auto;
    /* animation-name: dropdown; */
    animation-duration: 3s;
    transition-duration: 0.8s;
    transition-property: transform;
    transform: rotate(0deg);
    outline: none;
    margin-right: 1rem;
}

section details:not([open]) summary:after {
    transform: rotate(90deg);
    animation-duration: 3s;
    transition-duration: 0.8s;
    transition-property: transform;
    outline: none;
    margin-right: 1rem;
}

section details {
    cursor: pointer;
    flex: 100%;
    outline: none;
}

section summary {
    border-left: 4px solid;
    border-right: 4px solid;
    border-image: linear-gradient(to bottom, #2a68a5, #3d91d8) 1 100%;
    display: flex;
    margin-block-end: 1rem;
}



@media (min-width: 801px) and (max-width: 1337px) {
	body > div.content-wrapper > div.content {
		display: block;
	}
	.content.columns .column-left {
		float: left;
		max-width: 100%;
	}
	.content.columns .column-left .main-content {
		position: initial;
	}
}

@media (max-width: 1337px) {
	.content.columns .column-left .main-content {
		padding: 0 !important;
	}
	.content.columns .column-right {
		display: block;
		width: 100%;
	}
}

@media screen and (max-width: 500px) { 
    section p {font-size: 1rem;}
    section .heading h1 {font-size: 19px;}
    section .heading h4 {font-size: 15px;}
    /* section .col-sm p {min-width: -webkit-fill-available;} */
}


/* content-lp fixes */
body > div.content-wrapper > div.content-lp div.breadcrumbs {
    margin-top: 10px;
    max-width: none !important;
  }
  body > div.content-wrapper > div.content-lp div.breadcrumbs span {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #fc8e40;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 18px;
  }
  body > div.content-wrapper > div.content-lp div.breadcrumbs span.current {
      color: #231f20;
  }
  body > div.content-wrapper > div.content-lp div.breadcrumbs span.sep {
    color: #fc8e40;
    font-size: 14px;
    font-weight: bold;
    padding: 0 3px;  
  }

  body > div.content-wrapper > div.content .column-left a,
body > div.content-wrapper > div.content.content-wide a,
#fancybox-content a {
  color: #fc8e40;
  border-bottom: 1px dotted #fc8e40;
}
body > div.content-wrapper > div.content .column-right li:not([class*="ya"]) a {
  border-bottom: 1px dotted #9c9c9c;
}
body > div.content-wrapper > div.content .column-left a:not([id]):not(.btnquote):hover,
body > div.content-wrapper > div.content.content-wide a:not([id]):hover,
body > div.content-wrapper > div.content .column-right li:not([class*="ya"]) a:hover,
#fancybox-content a:hover {
  border-bottom: 1px dotted #fc8e40;
}

/* simple line separator

section .separator {
    position: relative;
    content: '';
    background: linear-gradient(45deg, #2a68a5, #3d91d8);
    width: 100%;
    height: 6px;
    bottom: 0;
    left: 0;
    /* border-radius: 0 0 5px 5px / 0 0 5px 5px; 
    margin-block-end: 5px;
} */

section .separator {
    position: relative;
    content: '';
    /* background: linear-gradient(45deg, #2a68a5, #3d91d8); */
    /* width: 100%; */
    /* height: 6px; */
    bottom: 0;
    left: 0;
    /* border-radius: 0 0 5px 5px / 0 0 5px 5px; */
    margin-block-end: 23px;
    margin: -30px auto 20px;
    padding: 0;
    height: 50px;
    border: none;
    border-bottom: 1px solid #3d91d8;
    box-shadow: 0 20px 20px -20px #333;
    width: 90%;
    /* padding-bottom: 50px; */
}

/* up button transparency */

#up {
    opacity: 0.5;
}

/* backgronds for headings */

section .heading1 {background-image: url("../img/headingph.png") !important;}
section #heading2 {background-image: url("../img/siemens_headings/heading2.png");}
section #heading3 {background-image: url("../img/siemens_headings/heading3.png");}
section #heading4 {background-image: url("../img/siemens_headings/heading4.png");}

section .cool-heading-background {
    box-sizing: border-box;
    background: transparent center center no-repeat;
    background-size: cover;
}

section div.cool-heading-background p {
    position: relative;
    z-index: 1;
    color: #fff;
}

section div.cool-heading-background h1, h2, h3, h4 {
    position: relative;
    z-index: 1;
}

section div.cool-heading-background:after {
    position: absolute;
    content: "";
    background-color: #000000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.6;
    z-index: 0;
}

section div.cool-heading-background:hover {
    cursor: pointer;
}

section #caption p {
    text-align: center !important;
}

section .col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    align-items: center;
    display: flex;
    position: relative;
    text-align: inherit;
    margin: 0.5rem 0.25rem 0 0.25rem;
    padding: 0.5rem;   
    z-index: 0;
}

section .col-extra-margin {
    padding: 1.5rem;
    margin: 1.5rem 2.25rem 0 2.25rem
}

section .container-fluid {
    flex: 1 100%;
}

section .counter {
    counter-reset: section;
}

section .number-card::before {
    position: absolute;
    display: inline-block;
    top: -15px;
    left: -25px;
    width: 50px;
    text-align: center;
    padding: 0.1rem;
    font-size: 36px;
    border: 1px solid black;
    color: #2a68a5 !important;
    background-color: white;
    font-weight: 600;
    counter-increment: section;
    content: counters(section, ".") " ";
    z-index: 1;
}

section .flex-4 {
    flex: 1 1 20%;
    display: inline-block;
}

section .row-flex {
    display: flex;
}

@media screen and (max-width:600px) {
    section .flex-4 {flex:1 1 100%}
}

section .float {
    display: block;
    float: left;
}

section .tabs-about {
    padding: 0.5rem;
}


section .row a {
    display: contents;
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width:1201px) {
    section .mobile-hidden {
        display: none !important;
    }
}
@media screen and (min-width:1200px) {
    section .desktop-hidden {
        display: none !important;
    }
}


